<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		   http://www.springframework.org/schema/context
		   http://www.springframework.org/schema/context/spring-context-3.2.xsd
		   http://www.springframework.org/schema/aop
		   http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		   http://www.springframework.org/schema/rabbit
		   https://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

	<!--循环依赖-->
<!--	<bean id="user" class="com.nojava.domain.User">-->
<!--		<constructor-arg ref="role"/>-->
<!--	</bean>-->
<!--	<bean id="role" class="com.nojava.domain.Role">-->
<!--		<constructor-arg ref="user"/>-->
<!--	</bean>-->

	<bean id="user" class="com.nojava.domain.User">
		<property name="role" ref="role"></property>
	</bean>
	<bean id="role" class="com.nojava.domain.Role">
		<property name="user" ref="user"/>
	</bean>

</beans>
